<header>
    <h1 id="siteName">My PokéDex</h1>
    <figure>
        <a href="/">
            <img id="logo" src="/img/logo.png" alt="Website Logo">
        </a>
    </figure>
    <nav>
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/register"><li>Register</li></a>
        </ul>
    </nav>
</header>