<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>PokéDex | Register</title>
</head>
<body>
    <%- include("./partials/header") %>
    <main>
        <section id="registerForm">
            <h2>Register a new Pokémon to your PokéDex</h2>
            <form method="post" action="/register">

                <fieldset>
                    <label for="name">Type your pokémon's name</label>
                    <input type="text" id="pokemonName" name="name">
                </fieldset>

                <fieldset>
                    <label for="type1">Type your pokémon's type</label>
                    <input type="text" id="pokemonType" name="type1" placeholder="Split the types with dashes (-)">
                </fieldset>

                <fieldset>
                    <label for="image">Give us the url of your pokemon's illustration</label>
                    <input type="url" name="image" id="pokemonImg">
                </fieldset>

                <fieldset>
                    <label for="desc">Type a description for your Pokémon</label>
                    <input type="text" name="desc" id="pokemonDesc">
                </fieldset>

                <fieldset>
                    <label for="category">What's your pokémon's category?</label>
                    <input type="text" name="category" id="pokemonCategory">
                </fieldset>

                <fieldset>
                    <label for="abilities1">What are your pokémon's abilities?</label>
                    <input type="text" name="abilities1" id="pokemonAbilities" placeholder="Split the abilities with dashes (-)">
                </fieldset>

                <fieldset>
                    <label for="weight">What's your pokémon's weight? (In Kg)</label>
                    <input type="number" name="weight" id="pokemonWeight">
                </fieldset>

                <fieldset>
                    <label for="height">What's your pokémon's height? (In m)</label>
                    <input type="" name="height" id="pokemonHeight">
                </fieldset>

                <fieldset>
                    <label for="number">What's your pokémon's number?</label>
                    <input type="number" name="number" id="pokemonNumber">
                </fieldset>

                <button type="submit">Register</button>

            </form>
        </section>
    </main>
    <%- include("./partials/footer") %>  
</body>
</html>